<div class="form-container inventory">
  <h1><%= title %></h1>

  <% if (typeof message !== 'undefined' && message) { %>
  <div class="flash-message">
    <p><%= message %></p>
  </div>
  <% } %> <% if (typeof errors !== 'undefined' && errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

  <div class="form-card-inventory">
    <a class="inv-link" href="/inv/add-classification">Add new Classification</a>
    <a class="inv-link" href="/inv/add-inventory">Add new Vehicle</a>
     <a class="inv-link" href="/inv/classification-history">View Classification history</a>
    <a class="inv-link" href="/inv/vehicle-history">View Classification history</a>
  </div>
  <div class="form-card-inventory">
    <h2>Manage Inventory</h2>
    <p>Please select a classification from the list to see the items belonging to that classification.</p>
    <!-- Classification List (EJS variable from controller) -->
    <%- classificationSelect %>

    <!-- Empty HTML Table -->
    <table id="inventoryDisplay"></table>

    <!-- Message if JavaScript is disabled -->
    <noscript>JavaScript must be enabled to use this page.</noscript>
  </div>
</div>

<script src="../../js/inventory.js"></script>
